#chat-toggle {
    position: fixed; /* Mantiene el botón en la posición fija */
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la parte derecha */
    background-color: #0f0053; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado dentro del botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
}

#chatbot-container {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    position: fixed;
    bottom: 80px; /* Para que esté encima del botón de ayuda */
    right: 20px;
    background-color: rgb(142, 213, 255);
    display: none; /* Ocultar inicialmente */
}

#chatbot-output {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}
.user-message, .bot-message {
    margin: 5px 0;
}
.bot-message {
    color: rgb(1, 1, 99);
}
.button-option {
    margin: 5px;
}
.sub-button {
    margin-left: 20px; /* Indentación para los sub botones */
    display: inline-block; /* Mostrar en línea */
    margin: 5px;
}
.info {
    margin-left: 20px; /* Indentación para la información */
}